<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
	<title>AniPai</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<script th:inline="javascript">
	/*<![CDATA[*/
	    var currentCustomer = /*[[${currentCustomer}]]*/;
	/*]]>*/
	var baseurl = '';
</script>

<body style="overflow: hidden;">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#do-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="do-navbar-collapse">
				<div class="animus-actions navbar-right"
					th:if="${currentCustomer==null}">
					<a th:href="@{/passport/login}"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
					<a th:href="@{/passport/register}"><span class="glyphicon glyphicon-user"></span> 注册</a>
       			</div>
       			<div class="animus-actions navbar-right"
       				th:if="${currentCustomer!=null}">
					<span th:text="${currentCustomer.username}"></span>
       			</div>
			</div>
		</div>
	</nav>
	

	<iframe id="main-frame" th:src="@{/main}" class="animus-main"></iframe>
	
	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	
</body>
</html>